<div class="entry">
    <label class="entry__active" for="amount">Amount :</label>
    <input class="entry__active" id="amount" type="number" [(ngModel)]="money" [defaultValue]="1">
    <label class="entry__active" for="currency"> Currency :</label>
    <select class="entry__active--s" name="currency" id="currency" [(ngModel)]="data" (change)="getExchangesByBase(data)">
        <option value="AUD">AUD</option>
        <option value="BGN">BGN</option>
        <option value="BRL">BRL</option>
        <option value="CAD">CAD</option>
        <option value="CHF">CHF</option>
        <option value="CNY">CNY</option>
        <option value="CZK">CZK</option>
        <option value="DKK">DKK</option>
        <option value="EUR" selected>EUR</option>
        <option value="GBP">GBP</option>
        <option value="HKD">HKD</option>
        <option value="HUF">HUF</option>
        <option value="IDR">IDR</option>
        <option value="ILS">ILS</option>
        <option value="INR">INR</option>
        <option value="ISK">ISK</option>
        <option value="JPY">JPY</option>
        <option value="KRW">KRW</option>
        <option value="MXN">MXN</option>
        <option value="MYR">MYR</option>
        <option value="NOK">NOK</option>
        <option value="NZD">NZD</option>
        <option value="PHP">PHP</option>
        <option value="PLN">PLN</option>
        <option value="RON">RON</option>
        <option value="SEK">SEK</option>
        <option value="SGD">SGD</option>
        <option value="THB">THB</option>
        <option value="TRY">TRY</option>
        <option value="USD">USD</option>
        <option value="ZAR">ZAR</option>
    </select>
</div>
<div class="galery">
    <div class="galery__card" *ngFor="let elem of entries">
        <h1>{{elem[0]}}</h1>
        <p>{{elem[1] * money}}</p>
    </div>
</div>